body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding-top: 100px;
}

a {
  transition: 0.5s;
}
.navbar a:hover {
  color: #ffc500;
}

.container .bs-sidebar {
  position: static;
}

.navbar {
  height: 90px;
  padding: 20px 0;
  background-color: #24292e;
}

.navbar-header a {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

@media (min-width: 768px) .navbar>.container .navbar-brand {
  margin-left: -15px;
}

.navbar-default .navbar-brand {
  background: url(https://image.ibb.co/e59s3v/logosmall.png) center / contain no-repeat;
  width: 200px;
  margin-right: -60px;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  vertical-align: middle;
  color: #ffc500;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffc500;
}
